@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-hover {
    @apply cursor-pointer bg-white text-primary-600 duration-500;
  }
}

/* for smooth scrolling to hash links*/
html {
  scroll-behavior: smooth;
}

/* CSS class for the transcript scrollbar styles */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;

  scrollbar-width: thin;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.custom-scrollbar {
  scrollbar-face-color: #888;
  scrollbar-track-color: #f1f1f1;
}
.dark input[type="text"] {
  /* Darken the input field color */
  background-color: #888; /* Change this to your desired darker color */
  color: #000000; /* Change this to your desired text color */
}

.dark .cursor-pointer {
  /* Darken the update button color */
  filter: brightness(0.8); /* Change the brightness to darken the button */
}
